{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class ="text-center"> Thêm câu hỏi </h2>


<form method="POST" action="{% url 'addQuestion' %}">
		{% csrf_token %}

		{% if form.errors %}

		      <div class="alert alert-success alart-dismissable" role ="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                  </button>
               

               {% for field in form %}
               	{% if field.errors %}
               		{{ field.errors }}
               	{% endif%}

               	{% endfor %}


              </div>

  {% endif %}


		{{ form.as_p }}

                                {# button #}
		<input type="submit" value="Thêm câu hỏi" class=" btn btn-secondary">
	</form>

{% endblock %}
