{% extends 'authenticate/base.html' %} {% load static %} {% block content %}

<h1 class="p-3 rounded" style="background-color: #c4c4c4bd" ;>
  BÀI THI TIN HỌC CƠ SỞ 1
</h1>

{% if user.is_authenticated %}
<div class="container-fluid">
  <div
    class="row mt-5 p-3 bg-secondary bg-gradient text-white"
    style="min-height: 500px"
  >
    <div class="col-sm-3">
      <h3 class="mb-4">Thông tin cá nhân</h3>
      <img
        class="mb-4"
        src="{% static 'image/avatar.png' %}"
        class="responsive-img"
        style="max-height: 150px"
      />
      {% if user.is_authenticated %}
      <p>Họ và tên: {{ user.last_name}} {{user.first_name}}</p>
      <p>Mã Sinh viên: {{user.student_code}}</p>
      {% if user.is_staff %}
      <p>Vai trò: giảng viên</p>
      {% else %}
      <p>Vai trò: sinh viên</p>
      {% endif %}
      <p>Email: {{user.email}}</p>
      {% endif %}
      <button
        type="button"
        class="btn btn-dark"
        style="position: absolute; left: 5%"
        data-toggle="modal"
        data-target="#exampleModal"
        data-whatever="@fat"
      >
        Phản hồi
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        style="color: #000"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Phản hồi</h1>
              <button
                type="button"
                class="btn-close"
                data-dismiss="modal"
                aria-label="Close"
                style="
                  border: none;
                  cursor: pointer;
                  background: transparent;
                  font-size: 30px;
                  outline: none;
                "
              >
                <i
                  style="user-select: none; cursor: pointer"
                  class="bi bi-x on-hover"
                ></i>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label"
                    >Message:</label
                  >
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Đóng
              </button>
              <button type="button" class="btn btn-primary">Gửi</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_admin %}
    <div class="col-sm-9">
      {% csrf_token %}
      <h3 class="mb-4" style="text-align: center">Danh sách sinh viên</h3>
      <div>
        <table class="table table-dark table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Họ tên</th>
              <th scope="col">mã sinh viên</th>
              <th scope="col">vai trò</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for users in all_users %} {% if users.student_code %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ users.last_name}} {{users.first_name}}</td>
              <td>{{ users.student_code}}</td>
              {% if users.is_staff %}
              <td>giảng viên</td>
              {% else %}
              <td>sinh viên</td>
              {% endif %} {% if users.is_admin %}
              <td
                style="
                  user-select: none;
                  color: #ccc;
                  font-size: 30px;
                  width: 68px;
                  height: 56px;
                "
              ></td>
              {% else %}
              <td
                style="
                  user-select: none;
                  color: #ccc;
                  font-size: 20px;
                  width: 68px;
                  height: 56px;
                "
              >
                <button
                  type="button"
                  style="border: none; border-radius: 50%; outline: none"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  <i
                    style="user-select: none; cursor: pointer"
                    class="bi bi-x on-hover"
                  ></i>
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  style="color: #000"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title fs-5" id="exampleModalLabel">
                          thông báo
                        </h3>
                        <button
                          type="button"
                          class="btn-close"
                          style="
                            border: none;
                            cursor: pointer;
                            background: transparent;
                            font-size: 30px;
                            outline: none;
                          "
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <i
                            style="user-select: none; cursor: pointer"
                            class="bi bi-x on-hover"
                          ></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        Bạn có chắc muốn xóa người dùng này
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Hủy
                        </button>
                        <form
                          method="POST"
                          action="{% url 'delete' pk=users.id %}"
                        >
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary">
                            Đồng ý
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              {% endif %}
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>

        <a style="text-decoration: none" href="{% url 'register' %}">
          <button
            type="button"
            class="btn btn-dark"
            style="position: absolute; left: -20%; bottom: 5%"
          >
            thêm sinh viên
          </button>
        </a>
      </div>
    </div>

    {% else %}
    <form method="get" action="{% url 'exam' %}" class="col-sm-9">
      {% csrf_token %}
      <h3 class="mb-4" style="text-align: center">Nội quy</h3>
      <div>
        <ul>
          <li>
            Luôn tạo cho mình một số phương pháp ghi nhớ nhanh để khi nhìn vào
            màn hình máy tính hoặc bàn phím, bạn có thể nhớ đến nội dung đã học.
          </li>
          <li>
            Luôn tạo cho mình một số phương pháp ghi nhớ nhanh để khi nhìn vào
            màn hình máy tính hoặc bàn phím, bạn có thể nhớ đến nội dung đã học.
          </li>
          <li>
            Luôn tạo cho mình một số phương pháp ghi nhớ nhanh để khi nhìn vào
            màn hình máy tính hoặc bàn phím, bạn có thể nhớ đến nội dung đã học.
          </li>
          <li>
            Luôn tạo cho mình một số phương pháp ghi nhớ nhanh để khi nhìn vào
            màn hình máy tính hoặc bàn phím, bạn có thể nhớ đến nội dung đã học.
          </li>
          <li>
            Luôn tạo cho mình một số phương pháp ghi nhớ nhanh để khi nhìn vào
            màn hình máy tính hoặc bàn phím, bạn có thể nhớ đến nội dung đã học.
          </li>
        </ul>

        <button
          type="submit"
          class="btn btn-dark"
          style="position: absolute; right: 5%"
        >
          Bắt đầu làm bài
        </button>
      </div>
    </form>

    {% endif %}
  </div>
</div>

{% else %}
<div class="container-fluid">
  <div class="row mt-5 p-3 bg-secondary bg-gradient text-white">
    <h3>Đăng nhập để làm bài thi</h3>
  </div>
</div>
{% endif %} {% endblock %}
